{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?{% now "U" %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}?{% now "U" %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}?{% now "U" %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}?{% now "U" %}" />
  <title>중고거래 상세보기</title>
</head>

<body>
  {% include 'nav.html' %}
  <div class="content-box">
    <div class="container column">
      <div class="post-box">
        {% block content %}
        {% if post.visible %} 
        {% comment %} {% if post.images %} {% endcomment %}
        <img src="{{ post.images.url }}" alt="{{ post.title }}" class="block-box">
        {% comment %} {% endif %} {% endcomment %}
        <div class="flex-box between info-button-box">
          <div class="user-info">
            <h6>{{ post.user }}</h6>
            <p>{{ user_profile.region }}</p>
          </div>
          {% if request.user.username == post.user.username %}
          <div class="flex-box button-box">
            <a href="{% url 'edit' post.id %}">
              <button class="grey">수정하기</button>
            </a>
            <a >
              <button class="grey" onclick="delete_post()">삭제하기</button>
            </a>
            <button class="orange">채팅보기</button>
          </div>
          {% else %}
          <div class="block-user-box">
            <a href="{% url 'chat' post.user post.id %}">
              <button class="orange">채팅하기</button>
            </a>
            <form method="post" action="{% url 'block_user' post.user.username%}">
              {% csrf_token %}
              <button class="red" type="submit">차단</button>
            </form>
          </div>
          {% endif %}
        </div>
        <hr class="line">
        <div class="post-info-box">
          <div class="flex-box between">
            <h3>{{ post.title }}</h3>
            <h3>{{ post.price |intcomma}}원</h3>
          </div>
          <p>{{ post.description }}</p>
          <div class="location-views-box flex-box between">
            <p>희망 거래장소 |
              {{ post.location }}</p>
            <p>조회수
              {{ post.view_num }}</p>
          </div>
        </div>
        {% else %}
        <div class="unblock-user-box">
          <p>이 글은 사용자가 차단한 유저의 글입니다.</p>
          <form method="post" action="{% url 'unblock_user' post.user.username%}">
           {% csrf_token %}
           <button class="red" type="submit">차단 해제</button>
          </form>
        </div>
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% include 'footer.html' %}

  <script>
    function delete_post() {
      var userConfirmed = confirm("삭제하시겠습니까?");
      
      if (userConfirmed) {
        // 사용자가 확인을 눌렀을 때의 동작
        location.href = "{% url 'delete' post.id %}";
      } else {
        // 사용자가 확인 대화 상자에서 취소를 눌렀을 때의 동작 (아무 동작 없음)
      }
    }
    
  </script>

</body>

</html>