{% load custom_filter%}
{% load static %}{% load humanize %}
<!DOCTYPE html>
<html>

  <head>
    <title>중고거래</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}?{% now "U" %}"/>
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="content-box">
      <a href="{% url 'jobs_write' %}">
        <div class="floating-button">
          거래글쓰기
        </div>
      </a>
      <div class="about-trade">
        <div class="container ">
          <div class="trade-text">
            <h3>우리 동네에서 찾는</br>당근알바</h3>
          <p>걸어서 10분 거리의</br>동네 알바들 여기 다 있어요.</p>
      </div>
      <div class="thumbnail-img">
        <img src="{% static 'img/jobs.png' %}" alt=""/>
      </div>
    </div>
  </div>

  <div class="post-box">
    <div class="container column center">
      <h1>인기 당근알바</h1>
    </div>
    <div class="container column center">
      <div class="full-box trade-box column">
        <div class="flex-box full-box card-container between">
          {% for job in jobs %}

            <div class="card-box">
              <a href="{% url 'jobs_post' job.pk %}" class="trade-text-link">
                <div class="card-img">
                  {% if job.images %}
                    <img src="{{ job.images.url }}" alt="title">
                  {% endif %}
                </div>
                <div class="card-info-box">
                  <h5>{{ job.title }}</h5>
                  <p class="bold">{{ job.price|intcomma }} 원</p>
                  <p>{{ job.location }}</p>
                  <div class="flex-box">
                    <p>조회
                      {{ job.view_num }}</p>
                    <p>·</p>
                    <p>채팅
                      {{ job.chat_num }}</p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}

</body>

</html>
